   body {
  margin: 0 auto;
  max-width: 360px;
  padding: 0 20px;
  background: linear-gradient(180deg, rgba(2,0,36,1) 0%, rgba(9,9,121,1) 35%, rgba(0,212,255,1) 100%);

}

.container {
  border: 2px solid white;
  background: linear-gradient(90deg, rgba(0,53,255,1) 28%, rgba(0,169,255,0.6311566863073355) 100%);
  border-radius: 5px;
  padding: 10px;
  margin: 20px 0;
  border-radius:20px;
  box-shadow:-2px -2px 5px black,5px 5px 7px black;
}

.div_slide{
  box-shadow:-5px -5px 5px black,5px 5px 5px black;
  width:310px;
  height:350px;
  overflow-x: hidden; /* Hide horizontal scrollbar */
  overflow-y: scroll;
  background: linear-gradient(0deg, rgba(195,34,132,1) 0%, rgba(72,45,253,1) 100%);
  padding:10px;

}
.btn-r{color:white;background:none;border:none;outline:none;}
.btn-r:focus{color:gold;box-shadow:0px 0px 10px black,0px 0px 10px black;background:none;border:none;outline:none;}

.div_slide::-webkit-scrollbar {
  width: 1em;
}
.div_slide::-webkit-scrollbar-track {
  border-radius: 10px;
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}
.div_slide::-webkit-scrollbar-thumb {
  border-radius: 10px;
  border:1px solid navy;
  box-shadow:-0px -0px 20px black,0px 0px 20px black;
background: linear-gradient(180deg, rgba(0,61,255,0.9981034650188201) 15%, rgba(0,255,221,0.6955824566154587) 100%);
}
.div_slide::-webkit-scrollbar-thumb:hover{  box-shadow:-0px -0px 15px pink,0px 0px 15px pink;}


.darker {

  border:1px solid gold;
  box-shadow:0px 0px 10px gold;
  background: black;
  border-radius:0px 50px 50px 50px;
  padding:10px;
  text-align:left;
  width:180px;
  position:relative;
  left:25%;
}
.darkerY {
  border:1px solid skyblue;
  box-shadow:0px 0px 10px cyan;
  background:black;
  border-radius:50px 50px 50px 0px;
  padding-right:20px;
  text-align:center;
  width:180px;

}



.txt-b{border-bottom:1px solid silver;}
.txt-c{padding-top:10px;padding-bottom:10px;}

.container::after {
  content: "";
  clear: both;
  display: table;
}

.container img {

  float: left;
  max-width: 60px;
  width: 50%;
  margin-right: 20px;
  border-radius: 50%;
}

.container img.right {
  float: right;
  margin-left: 20px;
  margin-right:0;
}

.time-right {
  float: right;
  color: #aaa;
}
b{color:pink;
  font-family:"calibri";
}
.bY{
    color:skyblue;
  font-family:"calibri";
}


p{color:gold;
  font-family:"bookantiqua";
  font-weight:lighter;}

.pcont{
    color:cyan;
  font-family:"bookantiqua";
  font-weight:lighter;

}

hr{background:grey;}

.time-left {
  float: right;
  color: #999;
  font-size:10px;
  padding-right:30px;
}

.HEAD{font-size:15px;font-weight:lighter;margin:5px;color:cyan;font-family: 'Kalam', cursive; sans-serif;}
.main_div{background:black;}



input[type=text], select {
width:75%;
padding: 12px 20px;
margin: 8px 0;
display: inline-block;
border: 1px solid navy;
border-radius: 20px;
box-sizing: border-box;
border:none;
outline:none;
color:white;
background: linear-gradient(180deg, rgba(9,17,121,1) 43%, rgba(0,156,255,1) 100%);
}
input[type=text]::placeholder{color:silver;}

input[type=submit] {
display:inline-block;
background: navy;
color: white;
margin-left:15px;
padding:10px;
border:none;
box-shadow:0px 0px 10px green,0px 0px 10px green;
outline:none;
border-radius:100%;
cursor: pointer;
text-align:center;
font-size:12px;

animation:zoominoutsinglefeatured1 2s infinite ;position:relative;}

@keyframes blink {
  0%{ opacity: 0;background:blue;}
  100% { opacity: 1;background:navy;}
}
    @keyframes zoominoutsinglefeatured1 {
   0% {
        transform: scale(1,1);background:navy;color:white;box-shadow:-2px -2px 5px violet,2px 2px 5px violet;
    }
    50% {
        transform: scale(1.2,1.2);box-shadow:-2px -2px 7px lawngreen,2px 2px 7px lawngreen;background:navy;color:whitesmoke;
    }
    100% {
        transform: scale(1,1);box-shadow:-2px -2px 9px violet,2px 2px 9px violet;background:navy;color:white;
    }

}


div {
border-radius: 20px 0px 0px 20px;
background-color: #f2f2f2;
padding-top:5px;padding-bottom:5px;padding-left:20px;padding-right:20px;
box-shadow:-1px -1px 3px white,2px 2px 6px white;
margin-top:5px;
}